

body, html{
  margin: 0;
  padding: 0;
  width: 100%;
}

header{
background: url("https://pixabay.com/static/uploads/photo/2015/12/08/00/26/coffee-shop-1081713_960_720.jpg");
 background-repeat: no-repeat;
height: 450px;
width:100%;

}
.coverDiv{
	width: 100% ;
	height: 450px;
	position: relative;
}


.logo{
	width: 50px ;
	height: auto;
	position: absolute;
	left: 37%;
	top:60%;

}


.logoText{
	position: absolute;
	left: 30%;
	top:70%;
	font-size: 18px;
	color: white;
	font-weight: bold;
}
