

body, html{
  margin: 0;
  padding: 0;

  font-family: 'Noto Sans', sans-serif;
}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>

nav ul li {
  list-style-type: none;
  padding: 5px;
  display: inline-block;
  cursor: pointer;
}
nav ul {
  text-align: center;
}

.section3{
  position: relative;
    width: 100%;
    height: 50px;
}

#footer {
    position: absolute;
    right:0%;
    width: 40%;
    height: 50px;

  }
.getApp{
     position: absolute;
    left:0%;
    width: 40%;
    height: 50px;
    font-size: 14px;
}
#footerStyle {
  background-color: #FF5733;
  font-size: 16px;
  opacity: 0.5;
  width: 100%;
}

header{
background: url("https://pixabay.com/static/uploads/photo/2015/12/08/00/26/coffee-shop-1081713_960_720.jpg");
 background-repeat: no-repeat;
height: 450px;
width:100%;

}
.coverDiv{
	width: 100% ;
	height: 450px;
	position: relative;
}


.logo{
	width: 50px ;
	height: auto;
	position: absolute;
	left: 37%;
	top:60%;

}


.logoText{
	position: absolute;
	left: 30%;
	top:70%;
	font-size: 18px;
	color: white;
	font-weight: bold;

}
.section2{
  position: relative;
  width: 100%;
  height: 300px;
}
.firstFeature{
  position: absolute;
  width: 35%;
  height: 50%;
  left:0%;
  background-color: #d8c178;
  top:0%;
  font-size: 14px;
}
.secondFeature{
  position: absolute;
  left:0%;
  bottom:0%;
  width: 35%;
  height: 50%;
  background-color: #d8c178;
  font-size: 14px;
}
.thirdFeature{
  position: absolute;
  right:0%;
  top:0%;
  width: 35%;
  height: 50%;
  background-color: #d8c178;
  font-size: 14px;
}
.anotherFeature{
  position: absolute;
  right:0%;
  bottom:0%;
  width: 35%;
  height: 50%;
  background-color: #d8c178;
  font-size: 14px;
}
.photo{
   position: absolute;
  right:35%;
  bottom:0%;
  top: 0%;
  width: 30%;
  height: 100%;
}

